.firstBlock {
    color: black;
    height: 100vh;
    background-color: #6f7c75;
    font-family: "Rubik Mono One", serif;
    font-weight: 300;
    font-style: normal;

    background-image: url('../../../public/bgFirstBlock.svg');
    background-repeat: no-repeat;
    background-size: cover;



    &_firstTitle,
    &_secondTitle {
        width: 60vw;
        height: 10vh;
        display: flex;
        justify-content: flex-end;
        border: 1px solid red;
    }

    &_workBlock {
        border: 3px solid green;
        display: flex;


        &_info,
        &_blockImage {
            width: 50vw;
            height: 70vh;
            border: 1px solid blue;
            display: flex;
        }

        &_info {
            padding-left: 5vw;
            flex-direction: column;

            &_text {
                margin-top: 5vh;
                height: 60%;
                display: flex;
                align-items: center;
                border: 1px solid orange;
            }
        }

        &_blockImage {
            padding-right: 5vw;
            display: flex;
            justify-content: center;
            align-items: flex-end;



            &_img {
                width: 90%;
                margin-bottom: -1.5vh;
            }

        }

        &_btn {
            margin-top: 5vh;
            width: 15vw;
            height: 5vh;
            display: flex;

            border: 1px solid yellow;
        }
    }
}