.logo {
    font-family: "Exo 2", serif;
    font-size: 30;
    font-weight: 900;
    font-style: normal;
    display: flex;
    margin-left: 10vh;

    &_first {
        color: #899949;
    }

    &_second {
        color: #ECF39E;
    }
}