.modeBlock {
    background-color: gray;
    padding: 5vh 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        border: 2px solid orange;
    }

    &_modes {
        margin-top: 5vh;
        width: 100%;
        border: 2px solid green;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &_element {
            margin: 3vh;
            display: flex;
            // align-items: center;
            // justify-content: center;
            border: 2px solid blueviolet;

            &_imgBlock {
                border: 2px solid red;
                margin: 2vh 0;
                width: 20vh;
                height: 30vh;
                z-index: 1;
            }

            &_workBlock{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &_info{
                    display: flex;
                    align-items: center;
                    height: 65%;
                    border: 2px solid pink;
                    // margin-left: -1vh;
                    padding-left: 3vh;
                }

                &_btn, &_name{
                    border: 2px solid black;
                    display: flex;
                    align-items: center;
                }

                &_name{
                    margin-left: 5vh;
                    height: 10%;
                    justify-content: right;
                }

                &_btn{
                    margin-left: 5vh;
                    height: 15%;
                    width: 60%;
                    justify-content: center;
                }
            }
        }
    }
}